html {
  font-size: 16px;
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 200% !important;
  }
}

body {
  font: 1rem/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
  color: $text-color;
  background-color: $body-background-color;

  text-rendering: optimizeLegibility;

  //for  anti-aliasing
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: $link-text-decoration;
  cursor: $link-cursor;
}
